// Custom styles

.pull-right {
    float: right;
}

.btn.rounded {
    border-radius: 999999999999% !important;
    padding: 0.375rem 0.75rem;
}

.fa-small {
    font-size: 80%;
}

.multiselect {
    padding: 0 !important;
}

.multiselect,
.multiselect__input,
.multiselect__single {
    font-family: inherit;
    font-size: inherit;
    touch-action: manipulation;
}

.invalid-feedback {
    display: block;
}

.table .no-padding {
    padding: 0 !important;
}

.is-invalid {
    color: #ff0000;
    font-size: 12px;
    margin-top: 4px;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

.pagination {
    margin-top: 10px !important;
}

.ucfirst {
    text-transform: lowercase;
}

.ucfirst:first-letter {
    text-transform: uppercase;
}

.dt-wrap-column {
    word-break: normal;
    vertical-align: top;
    white-space: normal !important;
}

.btn-rounded {
    padding: 0.475rem 0.75rem !important;
    border-radius: 200% !important;
}

div.dataTables_scrollBody>table {
    border: 1px solid #dcdcdc;
}

.multiselect--disabled {
    opacity: 1;
    background: #e9ecef;

    .multiselect__select {
        display: none;
    }

    .multiselect__tags {
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    .multiselect__tags,
    .multiselect__single {
        background: #e9ecef;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.form-control-label {
    margin-top: 5px;
}

.disabled-link {
    cursor: not-allowed;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
