.select {
    .p-2 {
        padding: 0.5rem !important;
    }

    .rounded {
        border-radius: 0.25rem !important;
    }

    .border {
        border-width: 1px !important;
    }

    .w-full {
        width: 100% !important;
    }

    .appearance-none {
        -webkit-appearance: none;
        appearance: none !important;
    }

    .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
    }

    .flex {
        display: flex !important;
    }

    .items-center {
        align-items: center !important;
    }

    .text-gray-900 {
        --tw-text-opacity: 1;
        color: rgba(17, 24, 39, var(--tw-text-opacity)) !important;
    }

    .text-left {
        text-align: left !important;
    }

    .h-4 {
        height: 1rem !important;
    }

    .w-4 {
        width: 1rem !important;
    }

    .text-gray-500 {
        --tw-text-opacity: 1;
        color: rgba(107, 114, 128, var(--tw-text-opacity)) !important;
    }

    .text-gray-900 {
        --tw-text-opacity: 1;
        color: rgba(17, 24, 39, var(--tw-text-opacity)) !important;
    }

    .border-gray-500 {
        --tw-text-opacity: 1;
        border-color: rgba(107, 114, 128, var(--tw-text-opacity)) !important;
    }

    .bg-gray-500 {
        --tw-text-opacity: 1;
        background-color: rgba(107, 114, 128, var(--tw-text-opacity)) !important;
    }

    .relative {
        position: relative !important;
    }

    .absolute {
        position: absolute !important;
    }

    .top-0 {
        top: 0px !important;
    }

    .left-0 {
        left: 0px !important;
    }

    .mt-12 {
        margin-top: 3rem !important;
    }

    .z-10 {
        z-index: 10 !important;
    }

    .p-3 {
        padding: 0.75rem !important;
    }

    .hover\:bg-gray-100:hover {
        --tw-bg-opacity: 1;
        background-color: rgba(243, 244, 246, var(--tw-bg-opacity)) !important;
    }

    .cursor-pointer {
        cursor: pointer !important;
    }

    .bg-indigo-600 {
        --tw-bg-opacity: 1;
        background-color: rgba(79, 70, 229, var(--tw-bg-opacity)) !important;
    }

    .text-white {
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity)) !important;
    }

    .font-medium {
        font-weight: 500 !important;
    }

    .text-gray-600 {
        --tw-text-opacity: 1;
        color: rgba(75, 85, 99, var(--tw-text-opacity)) !important;
    }

    .p-8 {
        padding: 2rem !important;
    }

    .text-center {
        text-align: center !important;
    }

    .text-xs {
        font-size: 0.75rem !important;
        line-height: 1rem !important;
    }

    .text-gray-600 {
        --tw-text-opacity: 1;
        color: rgba(75, 85, 99, var(--tw-text-opacity)) !important;
    }

    .bg-gray-200 {
        --tw-text-opacity: 1;
        background-color: rgba(229, 231, 235, var(--tw-text-opacity)) !important;
    }

    .bg-gray-400 {
        --tw-text-opacity: 1;
        background-color: rgba(156, 163, 175, var(--tw-text-opacity)) !important;
    }
}
